services:
  postgres:
    image: postgres:16
    container_name: devteams_postgres
    restart: unless-stopped

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - "5432:5432"
    
    volumes:
      - postgres_data:/var/lib/postgresql/data

  server:
    image: devteams_backend:1.0
    container_name: devteams_backend
    restart: unless-stopped

    build:
      context: ./server
      dockerfile: Dockerfile

    depends_on:
      - postgres

    env_file:
      - ./server/.env

    ports:
      - "4000:4000"
  
  client:
    image: devteams_frontend:1.0
    container_name: devteams_frontend

    build:
      context: ./client
      dockerfile: Dockerfile

    ports:
      - "5173:5173"
    
    depends_on:
      - server


volumes:
  postgres_data: